.containerForSubjects{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    .box{
        display: flex;
        text-align: center;
        justify-content: center;
        border: 2px solid black;
       width: 500px;
       height: 500px;
    }
}